.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .modal-content {
    width: 80%;
  }
  
  .modal-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  .modal-body {
    background-color: #f3f3f3;
  }
  
  .modal-header,
  .modal-footer {
    background-color: #141414;
    color: #FFFFFF;
  }
  
  .btn-primary {
    background-color: #e50914;
    border-color: #e50914;
  }
  
  .btn-primary:hover {
    background-color: #ff0000;
    border-color: #ff0000;
  }
  